In [ ]:
# Задание 1
# Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, 
# в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].
# Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
# [1, 1, 1, 2, 2, 3, 3], 
# ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
# min.

# Задание 2
# Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

# Задание 3
# Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

# Задание 4
# Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
# author_name, min_price, max_price и mean_price,
# в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора .

In [2]:
# Задание 1
import pandas as pd

In [10]:
a = {"author_id": [1, 2, 3],
     "author_name": ['Тургенев', 'Чехов', 'Островский']}

authors = pd.DataFrame(a)

b = {"author_id": [1, 1, 1, 2, 2, 3, 3],
     "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
     "price": [250, 150, 180, 120, 170, 90, 210]}

book = pd.DataFrame(b)

book.describe()

       author_id       price
count   7.000000    7.000000
mean    1.857143  167.142857
std     0.899735   53.763149
min     1.000000   90.000000
25%     1.000000  135.000000
50%     2.000000  170.000000
75%     2.500000  195.000000
max     3.000000  250.000000

In [15]:
# Задание 2
authors_price = pd.merge(authors, book, on='author_id', how='inner')

print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    250
1          1    Тургенев                 Рудин    150
2          1    Тургенев     Дворянское гнездо    180
3          2       Чехов      Толстый и тонкий    120
4          2       Чехов       Дама с собачкой    170
5          3  Островский                 Гроза     90
6          3  Островский  Таланты и поклонники    210

In [23]:
# Задание 3

authors_price.sort_values(by="price", inplace=True)
authors_price.reset_index(drop=True, inplace=True)

top5 = authors_price.nlargest(5, "price").copy()
top5.reset_index(drop=True, inplace=True)
print(top5)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    250
1          3  Островский  Таланты и поклонники    210
2          1    Тургенев     Дворянское гнездо    180
3          2       Чехов       Дама с собачкой    170
4          1    Тургенев                 Рудин    150

In [53]:
# Задание 4
groupby = authors_price.groupby("author_id")

groupby_min = groupby.agg({"price": "min"}).copy()
groupby_min.reset_index(drop=False, inplace=True)
authors_min = pd.DataFrame(
    {"author_id": list(groupby_min["author_id"]),
     "min_price": list(groupby_min["price"])}
)
#print(authors_min)

groupby_max = groupby.agg({"price": "max"}).copy()
groupby_max.reset_index(drop=False, inplace=True)
authors_max = pd.DataFrame(
    {"author_id": list(groupby_max["author_id"]),
     "max_price": list(groupby_max["price"])}
)
#print(authors_max)

groupby_mean = groupby.agg({"price": "mean"}).copy()
groupby_mean.reset_index(drop=False, inplace=True)
authors_mean = pd.DataFrame(
    {"author_id": list(groupby_mean["author_id"]),
     "mean_price": list(groupby_mean["price"])}
)
#print(authors_mean)

authors_stat = pd.merge(pd.merge(pd.merge(authors, authors_min, on='author_id', how='inner'), authors_max, on='author_id', how='inner'), authors_mean, on='author_id', how='inner') 
print(authors_stat)

   author_id author_name  min_price  max_price  mean_price
0          1    Тургенев        150        250  193.333333
1          2       Чехов        120        170  145.000000
2          3  Островский         90        210  150.000000